/* utils/globals.css */

html,
body {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: var(--body-bg-color);
    color: var(--body-color);
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


section{
    min-height: 35rem;
    justify-self: center;
    width: 90%;
    margin-bottom: 2rem;
}

fieldset{
    border-radius: 2rem;
    padding: 2rem;
    
}
legend{
    padding: .5rem;
    text-align: center;
    font-size: 3rem;
}
.section-title{
    pointer-events: none;
}

