/* utils/variables.css */

/* colors */
:root{
    --body-bg-color: #1e1e1e;
    --body-color: #f4f4f4;
    --dark:#111;


    --default-color: #f4f4f4;
    --valid-color: #9bdc28;
    --invalid-color: #cc0000;

    --hover-accent-color: #333;
}