/* weatherApp.css */

@import url('../../utils/transitions.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    box-sizing: border-box;
    font-weight: 600;

    --body-bg-color: #aaa;
    --body-color: #1e1e1e;
    --dark: #111;


    --default-color: #f4f4f4;
    --valid-color: #9bdc28;
    --invalid-color: #cc0000;

    --hover-accent-color: #333;
}


body {
    background: url(../../img/assets/asset_Mountain.jpg);
    width: 100%;
    height: 100dvh;
    color: var(--default-color);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    place-items: center;

}

/* blur effect */
body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100dvh;
    background: rgba(0, 0, 0, .15);
    backdrop-filter: blur(10px);
}

/* back to portfolio button */
a {
    backdrop-filter: blur(150px);
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    color: var(--default-color);
    /* background: var(--default-color); */
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .25);
    transition: all .3s;
}

a:hover {
    background: var(--hover-accent-color);
    color: var(--body-bg-color);
}

.weather-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 330px;
    height: 620px;
    z-index: 1;
    background: linear-gradient(to top, rgba(0, 0, 0, .25),
            rgba(255, 255, 255, .25));
    border-radius: 12px;
    backdrop-filter: blur(30px);
    box-shadow: 0 50px 50px rgba(0, 0, 0, .25);
    align-items: center;
}

/* Input Container */
.input-container {
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 15px;

}

.city-input {
    width: 100%;
    padding: 10px;
    margin: 10px;
    margin-top: 15px;
    color: #f4f4f4;
    border-radius: 99px;
    outline: none;
    border: 3px solid transparent;
    background: rgba(0, 0, 0, .25);
    padding-right: 35px;

}

.city-input:focus {
    border: 3px solid rgba(0, 0, 0, .25);
}

.city-input::placeholder {
    color: #f4f4f4
}

.search-btn {
    position: absolute;
    right: 22px;
    top: 50%;
    transform: translateY(-40%);
    background: none;
    color: #f4f4f4;
    display: flex;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

/* Section Current Weather Info */
.weather-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    
}

.location-date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location {
    display: flex;
    align-items: center;
    gap: 6px;
}

.regular-txt {
    font-weight: 400;
}

.weather-summary-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-summary-img {
    font-size: 120px;
    width: 120px;
    height: 120px;

}

.weather-conditions-container {
    display: flex;
    justify-content: space-between;
}

.condition-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.condition-item span {
    font-size: 30px;
    margin-right: 5px;
}

.mark-as-fav{
    width:100%;
    padding: 5px;
    background: rgba(0, 0, 0, .15);
    border: transparent;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.mark-as-fav:hover{
    background:rgba(255, 255, 255, .15);
}
/* Forecast Start */
.forecast-header {
    font-size: 13px;
    font-weight: 400;
    margin-top: 5px;
    margin-left: 5px;
}

.forecast-item-container,
.hourly-forecast-item-container {
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    padding-bottom: 12px;
}

.forecast-item,
.hourly-forecast-item {
    min-width: 70px;
    background: rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    /* gap: 6px; */
    padding: 10px;
    align-items: center;
    border-radius: 12px;
    transition: all .3s;
}

.forecast-item:hover,
.hourly-forecast-item:hover {
    background: rgba(255, 255, 255, .15);
}

.forecast-item-img,
.hourly-forecast-img {
    font-size: 35px;
}

.forecast-item-container::-webkit-scrollbar,
.hourly-forecast-item-container::-webkit-scrollbar {
    height: 8px;
}

.forecast-item-container::-webkit-scrollbar-track,
.hourly-forecast-item-container ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .1);
    border-radius: 99px;
}

.forecast-item-container::-webkit-scrollbar-thumb,
.hourly-forecast-item-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .15);
    border-radius: 99px;
}

/* error/search City message */
.section-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin-top: 25%;
}

/* vertical line */
.vertical-line {
    backdrop-filter: blur(30px);
    height: 90vh;
    width: 5px;
    background: linear-gradient(to bottom, transparent, black, transparent);
}

/* weather list */
.favorite-weather-list {
    width: 100%;
    max-height: 70vh;
    align-items: center;
    position: relative;
    overflow-y: scroll;
    padding-right: 30px;
}

.weather-list {
    display: grid;
    gap: 15px;
}

.favorite-weather-list ul li {
    list-style: none;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, .5);
    transition: .3s;
    width: 100%;
    position: relative;
    

}


.favorite-weather-list::-webkit-scrollbar{
    width: 8px;
}


.list-location-date-container{
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr;
    align-items: center;
}

.list-location{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 30px;
}

.list-current-data-txt , .list-current-time-txt{
    display: flex;
    gap: 6px;
    margin-top: 15px;
    margin-right: 15px;
    font-size: 15px;
    align-items: center;
 
}
.list-weather-details-container{
    display: grid;
    grid-template-columns: .5fr 1fr;
    width: 100%;
    padding-bottom: 10px;
}
.list-weather-summary-container{
    display: flex;
    justify-content: center;
    margin-left: 15px;
    align-items: center;
}
.list-weather-summary-info{
    display: flex;
    flex-direction: column;
    margin-left:15px ;
}
.list-weather-summary-img{
    font-size: 80px;
    width: 80px;
    height: 80px;
}

.list-weather-conditions-container{
    margin-left: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.list-condition-item{display: flex;}

.unmark-as-fav{
    position: absolute;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: none;
    right: 0;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, .25);
    transition: .3s;
    transition-delay: 0s;

}

.unmark-as-fav span{
    display: flex;
    position: absolute;
    transition: .5s;
}
.unmark-as-fav span:nth-child(2){
    font-size: 18px;
}
.unmark-as-fav:hover span{
    color: #fff;
}
.unmark-as-fav:hover span:nth-child(1){
    color: #fff;
    transition-delay: .2s;
}

.unmark-as-fav::before{
    white-space: nowrap;
    content: "discard city";
    font-size: 13px;
    position: absolute;
    right: 25px;
    top: -1px;
    color: rgba(255, 255, 255, .15);
    opacity: 0; /* Startwert unsichtbar */
    visibility: hidden; /* Unsichtbar und blockiert Interaktionen */
    transition: opacity .5s, visibility 0s .5s, color .5s;
}

.unmark-as-fav:hover::before{
    opacity: 1; /* Sichtbar machen */
    visibility: visible; /* Sichtbar machen */
    transition: opacity 1.5s;
    color: #fff;
}